pkgbase = mingw-w64-libjpeg-turbo
	pkgdesc = JPEG image codec with accelerated baseline compression and decompression (mingw-w64)
	pkgver = 3.0.3
	pkgrel = 1
	url = https://libjpeg-turbo.org/
	arch = any
	license = custom
	makedepends = yasm
	makedepends = mingw-w64-cmake
	depends = mingw-w64-crt
	provides = mingw-w64-libjpeg
	conflicts = mingw-w64-libjpeg
	conflicts = mingw-w64-libjpeg6-turbo
	options = staticlibs
	options = !strip
	options = !buildflags
	source = https://github.com/libjpeg-turbo/libjpeg-turbo/releases/download/3.0.3/libjpeg-turbo-3.0.3.tar.gz
	validpgpkeys = 0338C8D8D9FDA62CF9C421BD7EC2DBB6F4DBF434
	sha512sums = 7c3a6660e7a54527eaa40929f5cc3d519842ffb7e961c32630ae7232b71ecaa19e89dbf5600c61038f0c5db289b607c2316fe9b6b03d482d770bcac29288d129

pkgname = mingw-w64-libjpeg-turbo
